Game/Intermediate/
Game/Binaries/
Game/Saved/
Game/.vs/Game/v14/
Game/.vs/Game/v15/
Game/Game.VC.db
Game/Game.VC.VC.opendb
Game/Game.sln

Game/enc_temp_folder/
Game/Content/Meliodas

/Game/Plugins/UFSM/Binaries
/Game/Plugins/UFSM/Intermediate
